<template>
  <q-layout view="lHh Lpr lFf">
    <!-- <q-header elevated> -->
    <q-header bordered class="bg-white text-primary">
      <q-toolbar>
        <q-btn
          :to="leftTo"
          v-show="leftIcon"
          flat
          dense
          round
          icon="navigate_before"
        />

        <q-toolbar-title class="text-center"> {{ title }} </q-toolbar-title>

        <q-btn v-show="rightIcon" flat dense round icon="edit" />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <!-- <router-view /> -->
      <transition name="fade">
        <router-view />
      </transition>
    </q-page-container>
  </q-layout>
</template>

<script>
// import { mapState } from "vuex";

export default {
  name: "MainLayout",
  data() {
    return {};
  },
  computed: {
    title() {
      return this.$store.getters["mHeader/title"];
    },
    // Using the "title" state directly will not refresh it automatically.
    // ...mapState({
    //   title: "mHeader/title",
    // }),
    leftIcon() {
      return this.$store.getters["mHeader/leftIcon"];
    },
    rightIcon() {
      return this.$store.getters["mHeader/rightIcon"];
    },
    leftTo() {
      return this.$store.getters["mHeader/leftTo"];
    },
  },
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>