<template>
  <q-page class="flex flex-center">
    <div class="column text-center">
      <img alt="Quasar logo" src="~assets/quasar-logo-full.svg" />

      <div class="q-mt-xl">
        <q-btn
          to="/store"
          outline
          rounded
          no-caps
          color="primary"
          label="My Store & Listings"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
  mounted() {
    this.$store.commit("mHeader/changeTitle", "Hello Maypole");

    this.$store.commit("mHeader/hideLeftIcon");

    this.$store.commit("mHeader/hideRightIcon");
  },
};
</script>
