<template>
  <q-page>
    <q-tabs v-model="tab" no-caps active-color="primary" class="text-grey">
      <q-tab name="orders" label="Orders" />
      <q-tab name="income" label="Income" />
      <q-tab name="listing" label="Listing" />
    </q-tabs>

    <div
      v-if="products.length === 0"
      class="column justify-center"
      style="height: calc(100vh - 100px)"
      v-cloak
    >
      <p class="text-center">
        <q-icon name="storefront" class="text-grey-6" style="font-size: 8em" />
      </p>

      <p class="q-mt-md text-center text-grey-6">
        No products are found. Do you want to add product?
      </p>

      <div class="q-mt-md text-center">
        <q-btn
          to="/item"
          outline
          rounded
          no-caps
          color="primary"
          label="+ Adding a Listing"
        />
      </div>
    </div>

    <div v-else v-cloak>
      <q-list bordered separator>
        <q-item v-for="product in products" :key="product['_id']">
          <q-item-section>{{ product.title }}</q-item-section>
        </q-item>
      </q-list>

      <div class="fixed-bottom text-center q-mb-lg">
        <q-btn
          to="/item"
          outline
          rounded
          no-caps
          color="primary"
          label="+ Adding a Listing"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "PageMyStore",
  data() {
    return {
      tab: "listing",
      products: [],
    };
  },
  methods: {
    getProducts() {
      this.$axios
        .get("http://localhost:3000/products")
        .then((res) => {
          // console.log("res: ", res);
          this.products = res.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },
  },
  created() {
    this.getProducts();
  },
  mounted() {
    this.$store.commit("mHeader/changeTitle", "My Store & Listings");

    this.$store.commit("mHeader/showLeftIcon");   
    this.$store.commit("mHeader/setLeftTo", "/");

    this.$store.commit("mHeader/showRightIcon");
  },
  updated() {
    this.getProducts();
  }
};
</script>
