<template>
  <q-page>
    <q-input
      v-model="title"
      class="q-px-md"
      label="Tap to add a title*"
      autofocus
    />

    <div class="fixed-bottom-left text-center q-mb-lg q-ml-lg">
      <q-btn outline rounded no-caps disable label="Save as Draft" />
    </div>
    <div class="fixed-bottom-right text-center q-mb-lg q-mr-lg">
      <q-btn
        to="/store"
        @click="newProduct"
        outline
        rounded
        no-caps
        color="primary"
        label="Publish"
      />
    </div>
  </q-page>
</template>

<script>
export default {
  name: "PageNEItem", // New/Edit Item
  data() {
    return {
      title: "Product ",
    };
  },
  methods: {
    newProduct() {
      this.$axios
        .post("http://localhost:3000/product", {
          title: this.title,
        })
        .then((res) => {
          // console.log("res: ", res);
        })
        .catch((err) => {
          console.error(err);
        });
    },
  },
  mounted() {
    this.$store.commit("mHeader/changeTitle", "New Listing");

    this.$store.commit("mHeader/showLeftIcon");
    this.$store.commit("mHeader/setLeftTo", "/store");

    this.$store.commit("mHeader/hideRightIcon");
  },
};
</script>
